*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.calculator{
    background: #111;
    padding: 20px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 0 15px #222;
}

.display{
    width: 100%;
    height: 70px;
    background: #000;
    color: white;
    font-size: 32px;
    border: none;
    outline: none;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: right;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn{
    padding: 18px;
    font-size: 20px;
    background: #222;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover{
    background: #333;
}

.equal{
    background: #fff;
    color: #000;
    grid-row: span 2;
}

.equal:hover{
    background: #ddd;
}

.zero{
    grid-column: span 2;
}
